<form id="search-form" method="GET" action=".">
	{{ form.as_p }}
	<input type="submit" value="search" />
</form>
<div>
	
{% if showingResult %}
	
	{% if inboxResults %}
	Inbox
		<ul>
			{% for result in inboxResults %}
				<li><a href="?id={{result.entryId}}">{{result.sender}}: {{ result.subject }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		
	{%endif%}
	
	{% if outboxResults %}
	Outbox
		<ul>
			{% for result in outboxResults %}
				<li><a href="?id={{result.entryId}}">{{result.sender}}: {{ result.subject }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		
	{%endif%}
{% else %}
	
{% endif %}
</div>

  
